<template>
<div>
            <p class="text-center" v-if="loading">
                Loading...
            </p>
            <p class="text-center" v-else>
                <button class="btn btn-success" v-if="status == 0" @click="addFriend()">Add Friend</button>
                <button class="btn btn-success" v-if="status == 'pending'" @click="acceptFriend()">Accept Friend</button>
                <span class="text-success" v-if="status == 'waiting'">Waiting for response</span>
                <span class="text-success" v-if="status == 'friends'">Friends</span>

            </p>
</div>
</template>

<script>
    export default {
        props: ['profile_user_id'],
        data() {
            return {
                status: '',
                loading: true
            }
        },
        mounted() {
            axios.get('/check-relationship-status/' + this.profile_user_id)
                .then((response) => {
                    console.log(response)
                    this.status = response.data.status
                    this.loading = false
                })
        },
        methods: {
            addFriend () {
                this.loading = true
                axios.get('/add-friend/' + this.profile_user_id)
                    .then( (response) => {
                        if(response.data == 1) {
                            this.status = 'waiting'
                            toastr.success('Friend request sent.')
                        }

                        this.loading = false
                    })
            },
            acceptFriend () {
                this.loading = true
                axios.get('/accept-friend/' + this.profile_user_id)
                    .then(response => {
                        if(response.data == 1) {
                            this.status = 'friends'
                            toastr.options = {"positionClass" : "toast-bottom-left"}
                            toastr.success('You are now friends. Go obshatsya.')
                        }
                        this.loading = false
                    })
            }
        }
    }
</script>
