<template>
    <div>

    </div>
</template>

<script>
    export default {
        mounted() {
            this.getAuthUserData()
        },
        methods: {
            getAuthUserData() {
                axios.get('/get-auth-user-data')
                    .then((response) => {
                        this.$store.commit('AUTH_USER_DATA', response.data)
                    })
            }
        }
    }
</script>