<template>
    <div>
        <hr>
        <p class="text-center" v-for="like in post.likes">
            <img :src="like.user.avatar" alt="" width="40px" height="40px" class="avatar-like">
        </p>
        <hr>
        <button class="btn btn-primary" v-if="!authUserLikesPost" @click="like()">
            Like the post
        </button>
        <button class="btn btn-danger" v-else @click="unlike()">
            Unlike the post
        </button>
    </div>
</template>

<script>
    export default{
        mounted() {

        },
        props: ['id'],
        computed: {
            likers() {
              let likers = []

              this.post.likes.forEach((like) => {
                  likers.push(like.user.id)
              })

                return likers

            },
            authUserLikesPost() {
              let checkIndex = this.likers.indexOf(
                  this.$store.state.authUser.id
              )
              if(checkIndex == -1)
                  return false
              else
                  return true
            },
            post () {
                return this.$store.state.posts.find((post) => {
                    return post.id === this.id
                })
            }
        },
        methods: {
            like() {
                axios.get('/like/' + this.id)
                    .then((response) => {
                        this.$store.commit('UPDATE_POST_LIKES', {
                            id: this.id,
                            like: response.data
                        })
                        toastr.options = {"positionClass" : "toast-bottom-right"}
                        toastr.success('Your successfully liked the post!')
                    })
            },
            unlike() {
                axios.get('/unlike/' + this.id)
                    .then((response) => {
                        this.$store.commit('UNLIKE_POST', {
                            post_id: this.id,
                            like_id: response.data
                        })
                        toastr.options = {"positionClass" : "toast-bottom-right"}
                        toastr.success('Your successfully unliked the post!')
                    })
            }
        }
    }
</script>

<style>
    .avatar-like {
        border-radius: 50%;
    }
</style>