<template>
    <div>

    </div>
</template>

<script>
    export default {
        data () {
            return {

            }
        },
        props: ['id'],
        mounted () {
            this.listen()
        },
        methods: {
            listen() {
                Echo.private('App.User.' + this.id)
                    .notification((notification) => {
                        toastr.options = {"positionClass" : "toast-bottom-right"}
                        toastr.success(notification.message)
                        this.$store.commit('ADD_NOT', notification)
                        document.getElementById('noty_audio').play()
                    })
            }
        }
    }
</script>