<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <textarea rows="5" class="form-control" v-model="content"></textarea>
                        <br>
                        <button class="btn btn-success pull-right" :disabled="notWorking" @click="createPost()">
                            Create a post
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {

        },
        data () {
            return {
                content: '',
            }
        },
        computed : {
            notWorking() {
                return !this.content;
            }
        },
        methods: {
            createPost() {
                axios.post('/create/post', {content: this.content})
                    .then(response => {
                        this.content = ''
                        toastr.options = {"positionClass" : "toast-bottom-right"}
                        toastr.success('Your post has been published!')
                        console.log(response)
                    })
            }
        }
    }
</script>