<template>
    <li>
        <a href="/notifications">
            Unread notifications
            <span class="badge">{{ allNotsCount }}</span>
        </a>
    </li>
</template>

<script>
    export default {
        mounted () {
            this.getUnread()
        },
        computed: {
           allNotsCount() {
               return this.$store.getters.allNotsCount
           }
        },
        methods: {
            getUnread() {
                axios.get('/get-unread')
                    .then((nots) => {
                        nots.data.forEach((not) => {
                            this.$store.commit('ADD_NOT', not)
                        })
                    })
            }
        }
    }
</script>